UDS_JDBC_URL=jdbc:postgresql://fakeuds:5432/fakeuds
UDS_SCHEMA=uds_schema
UDS_USERNAME=inform_user
UDS_PASSWORD=inform
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=my_name
SPRING_RABBITMQ_PASSWORD=my_pw

WAVEFORM_HL7_SOURCE_ADDRESS_ALLOW_LIST=127.0.0.1
WAVEFORM_HL7_TEST_DUMP_FILE=""
