IDS_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/ids
IDS_SCHEMA=schemaname
IDS_USERNAME=someuser
IDS_PASSWORD=redacted
INFORMDB_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/informdb
INFORMDB_SCHEMA=devfoo
INFORMDB_USERNAME=someuser
INFORMDB_PASSWORD=redacted
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=8672
SPRING_RABBITMQ_USERNAME=someuser
SPRING_RABBITMQ_PASSWORD=redacted
