IDS_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/ids
IDS_SCHEMA=schemaname
IDS_USERNAME=someuser
IDS_PASSWORD=redacted
# can omit or leave empty start and end
IDS_CFG_DEFAULT_START_DATETIME=2019-03-11T04:05:00.000Z
IDS_CFG_END_DATETIME=2019-03-11T22:00:00.000Z
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5673
SPRING_RABBITMQ_USERNAME=emap
SPRING_RABBITMQ_PASSWORD=yourstrongpassword