IDS_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/ids
IDS_SCHEMA=schemaname
IDS_USERNAME=someuser
IDS_PASSWORD=redacted
# note, separate progress schema than emap core
INFORMDB_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/informdb
INFORMDB_SCHEMA=caboodle_extract
INFORMDB_USERNAME=postgres
INFORMDB_PASSWORD=postgres
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5673
SPRING_RABBITMQ_USERNAME=emap
SPRING_RABBITMQ_PASSWORD=yourstrongpassword
