WAVEFORM_SYNTHETIC_NUM_PATIENTS=30
WAVEFORM_SYNTHETIC_WARP_FACTOR=6
WAVEFORM_SYNTHETIC_START_DATETIME="2024-01-02T12:00:00Z"
WAVEFORM_SYNTHETIC_END_DATETIME="2024-01-03T12:00:00Z"
WAVEFORM_SYNTHETIC_TCP_CLIENT_POOL_SIZE=1
WAVEFORM_HL7_SEND_HOST="waveform-reader"
WAVEFORM_HL7_SEND_PORT=7777
